{% extends "blog/base.html" %}


{% block content %}
 <div class="jumbotron">
    <h2 class="display-4">Please Login</h1>
    <h3 class="display-1">(Must be Superuser, Please check with the site admin)</h1>
    
      {% if form.errors %}
        <p>your username and password didn't match! Please try again.</p>
      {% endif %}  
    
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <input class="btn btn-primary" type="submit" Value="Login">
        <input type="hidden" name="next" value="{{next}}">



      </form>
</div>

    
{% endblock content %}


    